
/* SUBMENU */

.submenu{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.submenu a
{
    text-decoration: none;
}

.acceso, .registro{
    padding-top: 15px;
}

.submenu a:hover {
    text-decoration: underline;

}

.login a{
    color: var(--color-red)
}
.busqueda a{
    color: var(--color-blue)
}
.registro a{
    color: var(--color-blue)
}

.login a:hover{
    color: var(--color-blue);
}

.submenu > div{
    width: 200px;
}
.titulo{
    font-size: 20px;
}

.acceso > ul{
    display: flex;
    justify-content: space-around;
}


/* MENU */

.menu{
    display: flex;
    justify-content: center;
}

.header{
    margin: auto;
    width: 100%;
    text-align: center;
    border: solid 1px var(--color-border);
}

.header a{
    text-decoration: none;
    color: var(--color-text-main);
    display: block;
    transition: 0.5s all;
}

.menu-item:hover > a {
    color: var(--color-text-secundary);
    transform: scale(120%);
    text-decoration:underline;
}

.menu-item li a {
    padding: 5px 15px;
}

.menu-item li{
    background-color: #fff;
}

.menu-item span{
    font-size: 13px;
}

.menu-item li:hover {
    text-decoration: underline;
    background-color: var(--color-border);
}

li{
    list-style: none;
}

.menu > li{
    float: left;
    position: relative;
}

.menu-item > a{
    font-size: 20px;
    padding: 13px 30px;
}

.menu-item li{
    font-size: 15px;
    display: flex;
    justify-content: center;
    border: solid 1px var(--color-border);
    width: 150px;
}

.header .menu-item ul{
    position: absolute;
    display: none;
    margin: auto;
}

.header li:hover ul {
    display: block;
    left: 0;
    right: 0;
}


.menu-main-item{
    position: relative;
}

.subsitems{
    display: none;
    position: absolute;
    top: -2px;
    left: 149px;
    
}

.menu-main-item:hover .subsitems{
    display: block;
}


.subsitem > a{
    font-size: normal;
    padding: 0 0;
    width: 300px;
}


.menu-main-item {
    display: flex;
    align-items: center;
}

.menu-main-item > i{
    font-size: 10px;
    position: absolute;
    right: 10px;
}

.menu-item span {
    margin-left: 10px;
}

.follow{
    top: -57px;
    transition: 1s all;
    position: fixed;
    width: 100%;
    background-color: #fff;
}